<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>veterinaria</title>
    <link rel="stylesheet" href="/css/index.css">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asesoría Legal</title> 
    <script type="text/javascript" src='/js/alertConfig.js'></script>
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-5GDKTEYM3Q"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-5GDKTEYM3Q');
</script>
</head>
<body>
    <img src="/img/147249-fondos-pc.jpg"class="iok">
    <div class="color"></div>
    <header><img src="" alt=""> <h1 class="titulo">Frilys</h1>
    <nav>
        <ul>
             <li><a href="index.ejs" class="htmo">Home</a></li>
             <li><a href="#fe4r" class="htmo">Servicios</a></li>
        <li><a href="#fer" class="htmo">Nosotros</a></li>
        </ul>
    </nav></header>
  
<div class="conte">


    <h2>Bienvenidos a frilys</h2>
    <h2>Pasion y dedicacion ,</h2>
    <h2>Salud y Bienestar para tu mascota</h2>
     <h2>disfruta de nuestros Servicios </h2>
     <h2>has tu pedido en linea</h2>

     <p class="yu"> En Nuestra plataforma vas a encontrar equipos profesionales,
        altamente calificados y con una amplia experiencias en cuidado de animales</p>


        <button class="wer">LOGIN</button><button class="w"> REGISTRER</button>
</div>

<main>
    <section class="Servicios" >
     <h2 class="serrr" id="fe4r">Servicios</h2>
     <div class="ser">
        <img src="./img/20240625112352comportamientoybienestar.jpg" class="pi">
        <h2 class="pol">Bienestar</h2>
        <p>Tu peludo merece lo mejor. Nuestro equipo se dedica a proporcionar un ambiente acogedor y enriquecedor. 
             </p>
     </div>
     <div class="ser">
        <img src="./img/raleigh-animales-salvajes-scaled-e1688062991373.jpg" class="pi">
        <h2 class="pol">Seguridad</h2>
        <p>La seguridad es nuestra prioridad. Contamos con protocolos estrictos para garantizar un manejo seguro y profesional en cada procedimiento. 
        </p>
     </div>
     <div class="ser">
        <img src="./img/m_imveterinaria_lanzan_primera_lista_9918_25162340.jpg" class="pi">
        <h2 class="pol">Medicinas</h2>
        <p>Ofrecemos un enfoque integral en medicina preventiva y tratamientos especializados. </p>
     </div>
    </section>

    <section class="ventas">

        <h2 class="ani">Animales en Ventas</h2>
        <div class="venr">
            <img src="./img/black-wild-cat-puma-jaguar-animal-wallpaper-preview.jpg" class="puma">
            <h2 class="ty">Pantera negra</h2>
            <p class="ui">7$</p> <button class="button">comprar</button>
        </div>
        <div class="venr">
            <img src="./img/6480712e4d70d.webp" class="puma">
            <h2 class="ty">koala</h2>
            <p class="ui">7$</p> <button class="button">comprar</button>
        </div>
        <div class="venr">
            <img src="./img/images (1).jpeg" class="puma">
            <h2 class="ty">Caballos</h2>
            <p class="ui">7$</p> <button class="button">comprar</button>
        </div>
        <div class="venr">
            <img src="./img/images.jpeg" class="puma">
            <h2 class="ty">liones</h2>
            <p class="ui">7$</p> <button class="button">comprar</button>
        </div>
    </section>
    <section class="Nosotros">
        <img src="./img/51166d85df4f323ede2367c944556d9c.jpg" class="cerf">
        <h2 class="tey" id="fer">Nosotros</h2>
        <p class="plo">somos un equipo apasionado de profesionales dedicados al cuidado y bienestar de tus mascotas. Con más de 10 años de experiencia, ofrecemos servicios de medicina preventiva, cirugía, y atención especializada, todo en un ambiente cálido y acogedor. Nos comprometemos a brindarte la mejor atención y asesoramiento para que tu compañero peludo viva una vida larga y saludable. ¡Visítanos y descubre por qué somos la elección preferida de los amantes de los animales! Tu mascota se merece lo mejor, y en Veterinaria Frilys, ¡lo hacemos posible!
        </p>
  </section>
    <h2 id="g">Contacto</h2>

    <form id="formulario">
        <div class="centrar" id="modalDeContacto">

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="input-padron" placeholder="Ingrese nombre" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="input-padron" placeholder="Ingrese email" required>

        <label for="comentario">Comentario</label>
        <textarea placeholder="Ingrese comentario" cols="70" rows="10" id="comentario" name="comentario" class="input-padron"></textarea required>
        
        <div class="g-recaptcha" data-sitekey="6LfRArsqAAAAAM48Xh4ZLN8g66ASBA1ob4_uQTd0"></div>
          </div>
        
        
    </div>
    <button>submit</button>
    </form> 

</main>
    <div id='map'></div>


 <script>
   let latitud,longitud;
    window.addEventListener('load',()=>{
    const map = L.map('map').fitWorld();

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    function onLocationFound(e) {
        const radius = e.accuracy / 2;

        const locationMarker = L.marker(e.latlng).addTo(map)
            .bindPopup(`You are within ${radius} meters from this point`).openPopup();

        const locationCircle = L.circle(e.latlng, radius).addTo(map);
        console.log(`latitud : ${e.latlng.lat} longitud : ${e.latlng.lng}`)
        latitud = e.latlng.lat;
        longitud = e.latlng.lng; 
    }

    function onLocationError(e){
        alert(e.message);
    }
    
    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({setView: true, maxZoom: 16});

    function locate(){
        map.locate({setView: true, maxZoom: 16});
    }
    setInterval(locate,50000);
    })
</script>
<script>
  const formularioContacto = document.querySelector('#formulario');

  formularioContacto.addEventListener('submit',e=>{
    e.preventDefault();

    const email = document.querySelector('#email').value;
    const nombre = document.querySelector('#nombre').value;
    const comentario = document.querySelector('#comentario').value;

    fetch(`/contactosPost?lat=${latitud}&lng=${longitud}`,{
      method:"POST",
      headers:{
        "Content-type":"application/json"
      },
      body:JSON.stringify({email,nombre,comentario})
    })
    .then(res=>res.json())
    .then(res=>{
      if(res.status){
       Swal.fire('Comentario Enviado con exito')
     }else{
      Swal.fire('Se genero un error al enviar comentario',res.message);
    }
  });
  });
</script>

</body>
<footer> <a href="#"><img src="./img/mac-os.png" class="sasa"></a><a href="#"><img src="./img/20673.png" class="sasa"></a>

</footer>
</html>