<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/contactos.css">
</head>
<body class="cuerpop">
  <div class="cuerpop2">
  <div class="login-container">
    <h1 class="sgn-h1">Login</h1>
    <form action="/user/login" method="POST">
      <div class="form-group">
        <label class="sgn-label" for="nombre">Nombre:</label>
        <input class="sgn-input" type="nombre" id="nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label class="sgn-label" for="contraseña">Contraseña:</label>
        <input class="sgn-input" type="contraseña" id="contraseña" name="contraseña" required>
      </div>
      <button type="submit" class="btn">Login</button>
      <button type="button" class="btn-google">Iniciar sesión con Google</button>
    </form>
  </div>
</div>
</body>
</html>
